

<html>
    <head>
        <title> Gamebuzzer </title>
        <style> <%- include css.ejs %> </style>
    </head>
    <body>
        <div class="wrapper">
            <div>
                <%- include headerhtml.ejs %>
            </div>
            <div class="content">
                Welcome to Gamebuzzer! <hr>
                Choose to start a new game and give it a name <br>
                OR <br>
                Choose to join a game and enter the game key words <hr>
            </div>
            <form id="form" action='/g' method='post'>
                <ul>
                <li>
                    <input type="radio" name="radio" id="owner" value="owner">
                        Create A New Game
                </li>
                <li>
                    <input type="radio" name="radio" id="player" value="player">
                        Join A Game
                </li>
                <input type="text" placeholder="(game name goes here)" name="landingInput" id="landingInput" >
                <input id="submit" type="submit" value="Lets Play!" disabled="true"/>
            </form>
            <div class="error">
                <%- error %>
            </div>
        </div>  <!-- end of wrapper -->

        <script src="http://code.jquery.com/jquery-latest.min.js"> </script>
        <script type="text/javascript"> <%- include jrumble.ejs %> </script>
        <script type="text/javascript"> <%- include headerjs.ejs %> </script>
        <script>
            $(document).mousemove(function()    {
                if (
                        ($('#landingInput').val() !='')
                        &&
                        (($('#player').is(':checked')) || ($('#owner').is(':checked')))
                    )
                    {
                        $('#submit').removeAttr( "disabled" );
                    }
            });
        </script>
    </body>
</html>
