

<html>
    <head>
        <title> Gamebuzzer </title>
        <style> <%- include css.ejs %> </style>
    </head>
    <body>
        <div class="wrapper">
            <div>
                <%- include headerhtml.ejs %>
            </div>
            <div class="content">
                Welcome to the Owner Page! <br>
                This game is named <%- givenName %>! <br>
                The key words for this game are <%- spokenID %> <br>
                <hr>

                <fieldset>
                    <legend>owner controls</legend>
                    <form id="resetButton">
                        <button>Reset</button>
                    </form>
                </fieldset>

                <fieldset>
                    <legend>gameboard</legend>
                    <ul id="gameboard"></ul>
                </fieldset>

                <fieldset>
                    <legend>chatboard</legend>
                    <ul id="chatboard"></ul>
                    <form id="chatBox" action="">
                        <input id="chatInput" autocomplete="off" />
                        <button>Send</button>
                    </form>
                </fieldset>
            </div>
        </div>  <!-- end of wrapper -->

        <script src="http://code.jquery.com/jquery-latest.min.js"> </script>
        <script type="text/javascript"> <%- include jrumble.ejs %> </script>
        <script type="text/javascript"> <%- include headerjs.ejs %> </script>

        <script src="/socket.io/socket.io.js"></script>
        <script type="text/javascript"> <%- include gameplay.ejs %> </script>



    </body>
</html>
