

<html>
    <head>
        <title> Gamebuzzer </title>
        <style> <%- include css.ejs %> </style>
    </head>
    <body>
        <div class="wrapper">
            <div>
                <%- include headerhtml.ejs %>
            </div>
            <div class="content">
                Welcome to the Player Page! <br>
                Welcome to <%- givenName %>! <br>
                The key words for this game are <%- spokenID %> <br>
                <hr>
                <ul id="messageboard"></ul>
                <form action="">
                    <input id="m" autocomplete="off" />
                    <button>Send</button>
            </div>
        </div>  <!-- end of wrapper -->

        <script src="http://code.jquery.com/jquery-latest.min.js"> </script>
        <script type="text/javascript"> <%- include jrumble.ejs %> </script>
        <script type="text/javascript"> <%- include headerjs.ejs %> </script>

        <script src="/socket.io/socket.io.js"></script>
        <script>
            /*var socket = io('/my-namespace');*/
            var socket = io('/<%- gameID %>');
            $('form').submit(function(){
                socket.emit('chat message', $('#m').val());
                $('#m').val('');
                return false;
            });
            socket.on('chat message', function(msg){
                $('#messageboard').append($('<li>').text(msg));
            });
        </script>


    </body>
</html>
